version: "3.7"

services: 
    reverseproxy:
        container_name: reverseproxy
        image: nginx:${REVERSE_PROXY_VERSION}
        ports:
            - ${REVERSE_PROXY_PORT_1}:80
            - ${REVERSE_PROXY_PORT_2}:8080
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
            - ./nginx/html:/var/www/html:ro
 